#navbar {
  overflow: hidden;
  background-color: #ECEDF9;
  margin: 0px;
  padding: 0px;
}

#navbar a  {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}


background {
  background-image: manOnMountain;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
