#navbar {
  overflow: hidden;
  background-color: #ECEDF9;
  margin: 0px;
  padding: 0px;
}

#navbar a  {
  float: left;
  display: block;
  color: red;
  text-align: center;
  padding: 18px;
  text-decoration: none;
}

#cole{
  float: left;
  width: 20%;
  height: 20%
  opacity: 0.5;
}

#last {
  font-family: 'Roboto Mono', monospace;
  font-size: 20px;
  color: black;
  font-style: italic;
}
